
    <div class="container mt-5">
        <h1>Welcome to this site!</h1>
        <div class="row">
            <div class="col-md-6">
                @await Html.PartialAsync(partialViewName: "_RegistrationForm")
            </div>
            <div class="col-md-6">
                @await Html.PartialAsync(partialViewName: "_LoginForm")
            </div>
        </div>
    </div>


