<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <span> | </span>
        <a href="/projects">Projects</a>
        <span> | </span>
        <a href="/contact">Contact</a>
    </div>
    <div class="content">
        <h1 class="center">About Me</h1>
        <div class="container">
            <div class="left">
                <img src="~/images/4123763.png" alt="Portfolio" width="200px">
                <h4>Omar Hanchi</h4>
                <h4>I love to code!</h4>
            </div>
            <div class="right">
                <h3>"I'm a C# fullstack developer, building both frontend and backend solutions."</h3>
            </div>
        </div>
    </div>
</body>
</html>