<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <span> | </span>
        <a href="/projects">Projects</a>
        <span> | </span>
        <a href="/contact">Contact</a>
    </div>
    <div class="content">
        <h1 class="center">My Projects</h1>
        <div class="projects">
            <div class="project">
                <img class="projectimg" src="~/images/032db574a23b523b79481d8d222a41ca.jpg" alt="project1" width="100px">
                <div class="info">
                    <h3>Project 1</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum rem consequuntur itaque laboriosam. Qui dolorum dolor, perferendis nam unde aliquam est eos nisi totam accusantium saepe veritatis vero debitis assumenda.</p>
                </div>
            </div>
            <div class="project">
                <img class="projectimg" src="~/images/032db574a23b523b79481d8d222a41ca.jpg" alt="project3" width="100px">
                <div class="info">
                    <h3>Project 2</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum rem consequuntur itaque laboriosam. Qui dolorum dolor, perferendis nam unde aliquam est eos nisi totam accusantium saepe veritatis vero debitis assumenda.</p>
                </div>
            </div>
            <div class="project">
                <img class="projectimg" src="~/images/032db574a23b523b79481d8d222a41ca.jpg" alt="project3" width="100px">
                <div class="info">
                    <h3>Project 3</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum rem consequuntur itaque laboriosam. Qui dolorum dolor, perferendis nam unde aliquam est eos nisi totam accusantium saepe veritatis vero debitis assumenda.</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>