* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    background-color: aliceblue;
    padding: 20px;
}

.center {
    text-align: center;
    font-style: italic;
    padding: 20px;
}

.container {
    display: flex;
    padding: 10px;
}

.left {
    padding: 20px;
    flex: 1;
    text-align: center;
    font-style: italic;
}

.left h4 {
    padding: 5px;
}

.right {
    padding: 20px;
    flex: 2;
    background-color: aliceblue;
    border-radius: 10px;
    border: 5px solid gray;
}

.right h3 {
    margin-bottom: 15px;
}

.projects {
    width: 60%;
    margin: 10px auto;
}

.project {
    margin-bottom: 10px;
    padding: 8px;
    display: flex;
    gap: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.info h3 {
    margin-bottom: 5px;
}

.projectimg {
    height: 100px;
    width: 300px;
}

.form {
    width: 325px;
    margin: 0 auto;
    background-color: rgb(235, 235, 235);
    padding: 20px;
    border-radius: 10px;
}

.group {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.group input {
    width: 200px;
    height: 20px;
}

.descInput {
    height: 80px !important;
}

.submit {
    padding: 5px;
    margin-left: 80%;
    background-color: aquamarine;
    border: 2px solid rgb(90, 221, 158);
    border-radius: 5px;
    color: rgb(127, 127, 127);
}