@{
    ViewData["Title"] = "Home Page";
}
@model Owner


<div class="text-center">
    <form asp-action="AddOwner" asp-controller="Home" method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>

        </div>
         <div class="form-group">
            <button class="btn btn-info" type="submit" value="AddOwner">AddOwner</button>

        </div>
        
    </form>
    <h2> All Owners</h2>
    <ul>
        @foreach (var o in ViewBag.AllOwners)
        {
            <li></li>
        }
    </ul>
</div>
