<div class="text-center">
    <h1>Survey Results</h1>
    
        <p>Name: @Model.Name</p>
        <p>Dojo Location: @Model.Location</p>
        <p>Favourite Language: @Model.FavouriteLanguage</p>
        <p>Comment: @Model.Comment</p>
    </ul>

</div>
