@model Chef
<h1>All Chefs</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th># of</th>

            
        </tr>
    </thead>
    <tbody>
        @{
                if (ViewBag.AllChefs.Count == 0)
                {
                    <td class="px-3">No Records Found.</td>
                    <td></td>
                    <td></td>
                }
                else
                {
                    foreach (Chef c in ViewBag.AllChefs)
                    {
                        int Age = DateTime.Now.Year - c.DateOfBirth.Year;
                        <tr>
                            <td class="text-center">@c.FirstName @c.LastName</td>
                            <td class="text-center">@Age</td>
                            <td class="text-center">@c.CreatedDishes.Count</td>
                        </tr>
                    }
                }
            }
    </tbody>
</table>
