<h2>Success</h2>
<p class="text-success">Date successfully validated!</p>
@* <p class="text-primary">Date successfully validated!</p>
<p class="text-secondary">Date successfully validated!</p>
<p class="text-warning">Date successfully validated!</p>
<p class="text-info">Date successfully validated!</p>
<p class="text-light">Date successfully validated!</p>
<p class="text-dark">Date successfully validated!</p> *@





