@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome  </h1>
    <form action="/Login" method="Post" >
    <input type="text" name="Username"  >
    <input type="submit" value="Login" class="btn btn-primary">
    </form>
</div>
