@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome @Context.Session.GetString("Username")</p>
<form action="/Logout" method="Post">
    <input type="submit" value="Logout" class="btn btn-danger">
</form>