@model LogUser
<h2>Login</h2>
<form asp-action="LoginUser" method="post">
    <div class="mb-3">
        <label asp-for="LogEmail"></label>
        <input asp-for="LogEmail" class="form-control">
        <span asp-validation-for="LogEmail" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="LogPassword"></label>
        <input asp-for="LogPassword" class="form-control">
        <span asp-validation-for="LogPassword" class="text-danger"></span>
    </div>
    <input type="submit" value="Login" class="btn btn-info">
</form>